@{
    ViewData["Title"] = "Download";
}
<h1>@ViewData["Title"]</h1>

<a href="https://github.com/MateoAlonso/Above-Premiere/releases/download/release/AbovePremiereSetup.exe">Download Above Premiere</a>
<p>You have to register to be able to use it!</p>
