@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://github.com/MateoAlonso/Above-Premiere/">Above Premiere Github</a>.</p>
</div>
